html,
body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: fixed;
}
html {
  background-image: url(../assets/images/boneThugz.gif);
  background: currentColor;
  background-size: cover;
  height: 100%;
  background-position: 50% 50%;
}
.bounce-in-top {
  width: 100%;
  font-size: 6.5vw;
  display: flex;
  place-content: center;
  background-image: url(../assets/images/gremlin.gif);
  background-size: contain;
}

#topicInput,
#topicInputs {
  background-image: url(../assets/images/shapez.gif);
  color: white;
  font-weight: bolder;
  font-size: 40px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  place-content: center;
}
#topicInput {
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  background-size: 80%;
  -webkit-animation: animate 8s linear infinite;
  animation: animate 8s linear infinite;
  font-size: 30px;
  text-align: center;
  width: -webkit-fill-available;
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

p {
  font-family: orbitron, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  background-repeat: no-repeat;
  background-size: 100%;
  /* animation: animate 18s linear infinite; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

label,
.p {
  /* position: relative; */
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  /* overflow: hidden; */
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  /* background-size: 80%; */
  /* -webkit-animation: animate 8s linear infinite; */
  /* animation: animate 8s linear infinite; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: rgba(255, 255, 255, 0); */
}
.p {
  letter-spacing: 17px;
  width: 100%;
  text-align: center;
  -webkit-background-clip: text;
}

.emoji {
  display: flex;
  justify-content: space-between;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#addButton,
button {
  background-image: url(../assets/images/glitterGalaxy.gif);
  color: rgb(153, 255, 0);
}

#addButton,
button:hover {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 40px;
}

button {
  height: 100%;
  margin: 2px;
  width: 140px;
  height: auto;
  box-sizing: border-box;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* #gifContainer {
  display: inline-grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */
#gifContainer {
  display: inline-grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#buttonContainer {
  flex-wrap: wrap;
  display: flex;
  flex: 1 1 25%;
  place-content: center;
}
/* #gifDiv {
  margin: 10px;
  background-image: url(../assets/images/pinkStarz.gif);
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33% - 30px);
  box-sizing: border-box;
  text-align: center;
} */
#gifDiv {
  margin: 10px;
  background-image: url(../assets/images/pinkStarz.gif);
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33% - 30px);
  box-sizing: border-box;
  text-align: center;
}

img {
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*padding for buttons and topic form*/
#topicForm {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#topicInput,
#addButton {
  margin: 5px;
}

/*media sizing for nav*/
@media screen and (min-width: 768px) {
  #topicForm {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex: 1;
    justify-content: flex-start;
    height: auto;
    box-sizing: border-box;
  }
  #topicInput,
  #topicInputs {
    background-image: url(../assets/images/shapez.gif);
    color: black;
    font-weight: bolder;
    width: auto;
    display: flex;
    place-content: center;
  }
  .emoji {
    flex-direction: column;
  }
  #addButton {
    height: auto;
  }
  #topicInput {
    flex: 2;
  }
  img:hover {
    /* IE 9 */
    /* Safari 3-8 */
    transform: scale(1.5);
  }
}
/* .animated {
  animation-duration: 5.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.wobble {
  animation-name: wobble;
}  */
