html {
        background-image: url("../images/boneThugz.gif");
}

.bounce-in-top {
        text-align: center;
        font-size: 6.5vw;
        background-image: url("../images/gremlin.gif");
}

#topicInput, #topicInputs {
        background-image: url("../images/shapez.gif");
        color: black;
        font-weight: bolder;
        font-size: 40px;
}

#topicInput {
        background: linear-gradient(90deg, rgb(255, 2, 2), rgb(248, 164, 7), gold, rgb(32, 255, 2), rgb(23, 7, 248), rgb(255, 6, 255));
        background-size: 80%;
        animation: animate 8s linear infinite;
        font-size: 30px;
        text-align: center;
}

@keyframes animate {
        0% {
                background-position: -500%;
        }
        100% {
                background-position: 500%;
        }
}

p {
        font-family: orbitron, sans-serif;
        font-size: 12px;
        font-weight: 900;
        line-height: 1;
        text-align: center;
        transform-origin: center top;
        background: linear-gradient(90deg, rgb(255, 2, 2), rgb(248, 164, 7), gold, rgb(32, 255, 2), rgb(23, 7, 248), rgb(255, 6, 255));
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 18s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
        0% {
                background-position: -500%;
        }
        100% {
                background-position: 500%;
        }
}

label, .p {
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, rgb(255, 2, 2), rgb(248, 164, 7), gold, rgb(32, 255, 2), rgb(23, 7, 248), rgb(255, 6, 255));
        background-size: 80%;
        animation: animate 8s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
        0% {
                background-position: -500%;
        }
        100% {
                background-position: 500%;
        }
}

#addButton, button {
        background-image: url("../images/glitterGalaxy.gif");
        color: rgb(153, 255, 0);
}

#addButton, button:hover {
        animation: pulse 1s infinite;
        animation-timing-function: linear;
        height: 40px;
}

button {
        margin-right: 2px;
        font-size: 18px;
}

@keyframes pulse {
        0% {
                transform: scale(1);
        }
        50% {
                transform: scale(1.1);
        }
        100% {
                transform: scale(1);
        }
}

#gifContainer, #buttonContainer {
        margin-top: 10px;
        margin-left: 44px;
}

#gifDiv {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        background-image: url("../images/pinkStarz.gif");
        width: 30%;
}

img {
        transition: transform .2s;
        margin: 0 auto;
}

img:hover {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
}

.animated {
        animation-duration: 5.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
}

@keyframes wobble {
        0% {
                transform: translateX(0%);
        }
        15% {
                transform: translateX(-25%) rotate(-5deg);
        }
        30% {
                transform: translateX(20%) rotate(3deg);
        }
        45% {
                transform: translateX(-15%) rotate(-3deg);
        }
        60% {
                transform: translateX(10%) rotate(2deg);
        }
        75% {
                transform: translateX(-5%) rotate(-1deg);
        }
        100% {
                transform: translateX(0%);
        }
}

.wobble {
        animation-name: wobble;
}